body {
    font-family: sans-serif;
        background: lightgrey;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100%;
        background-position: center;
      text-align: center
}
img {
    border: red solid;
}
a:hover{
    color: orangered
}

@media screen and (min-width:400px) {

}
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    min-width: 150;
    flex-direction: row;
    flex-grow: 300;
    }