* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: url(./img/gambling.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 40%;
  background-position: right;
}

nav {
  position: absolute;
  width: 100%;
  height: 5rem;
  padding: 0;
  border: 0;
  margin: 0;
  margin-bottom: 15px;
  top: 0;
  left: 0;
}

nav h1 {
  float: left;
  margin-top: 1rem;
  padding-left: 15rem;
  font-size: 5rem;
}

ul {
  list-style: none;
  padding-right: 2rem;
}

li {
  float: right;
  padding: 10px;
}

a {
  color: rgb(78, 0, 78);
  padding: 2px;
  text-decoration: none;
  font-size: 1.5em;
}

a:hover {
  color: pink;
}

.spacerHead {
  clear: both;
  width: 100%;
  height: 85px;
}

.container {
  float: left;
  max-width: 600px;
  margin-left: 3rem;
  margin-bottom: 5rem;
  text-align: center;

}

.rightSide {
  top: 0;
  right: 0;
  position: fixed;
  float: right;
  max-width: 600px;
  margin: 10rem;
  text-align: center;
  background-color: rgba(254, 254, 254, 0.5);
}

.dices {
  width: 100%;
  text-align: center;
  margin: 20px;
}

#rollingDice4,
#rollingDice3,
#rollingDice5,
#rollingDice6 {
  padding: 15px;
  animation-duration: 3s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(270deg);
  }
}

table {
  max-width: 600px;
  border: solid grey;
  border-collapse: collapse;
  text-align: left;
}

th {
  background-color: pink;
  padding: 0.5rem;
}

tr,
td {
  border: solid grey;
  font-size: 1.2em;
  width: 6rem;
  text-align: center;
}

td:nth-child(even) {
  background-color: lightgrey;
}

td:nth-child(odd) {
  background-color: white;
}

#namn>td {
  background-color: lightgrey;
}

td:hover {
  background-color: pink;
}

input {
  width: 4rem;
  background-color: inherit;
  border: none;
  text-align: right;
}

.total>td,
.bonus>td {
  background-color: pink;
}

.dice {
  width: 3rem;
  height: 3rem;
  background-color: antiquewhite;
  border-color: black;
  border-style: solid;
  border-radius: 10%;
  margin: 1rem;
}

.roller {
  margin-bottom: 3rem;
  text-align: center;
}

#roll {
  background-color: antiquewhite;
  border-color: black;
  border-style: solid;
  padding: 0.5rem;
}

#dice1:hover,
#dice2:hover,
#dice3:hover,
#dice4:hover,
#dice5:hover,
#dice6:hover,
#roll:hover {
  background-color: pink;
}

/* #dice1:focus,
#dice2:focus,
#dice3:focus,
#dice4:focus,
#dice5:focus,
#dice6:focus {
  background-color: pink;
} */

.visibleDice {
  background-color: gray;
}

#nextPlayerDiv {
  height: 3rem;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .container {
    float: none;
    position: relative;
  }

  .rightSide {
    float: none;
    position: relative;
    min-width: 600px;
    left: 0;
    margin-left: 3rem;
    margin-bottom: 5rem;
    text-align: center;
  }
}