body {
    font-family: sans-serif;
        background: url(./img/diceman.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100%;
        background-position: center;
      text-align: center
      
}
body {
    
        animation-duration: 3s;
        animation-name: slidein;
      }
      
      @keyframes slidein {
        from {
          margin-top: 100%;
          width: 100%;
        }
      
        to {
    
          margin-bottom: 10%;
          width: 100%; 
        }
      }
      body{hover: width 300;}
      
